/**/
.catalog-page {
}

.catalog .pages {
    overflow: visible;
}

.search-header {
	background-color: gray;
	padding: 5px;
}

.search-input {
	font-size:20px;
	border-radius: 5px;
	padding: 0px 3px;
}

.catalog-content {
	overflow: hidden;
	width: 100%
}

.catalog-list {
	overflow: hidden;
	overflow-y: auto;
	width:100%;
	font-size: 16px;
}

.catalog-list .filtered {
	display: none;
}

.cdg-preview {
	position: relative;
	min-width: 600px;
	height: 100%;
	display: none;
}

.catalog-container {
	width:100%;
}

.catalog-list .selected {
	background-color: rgba(255, 255, 255, 0.3);
}

.song-item {
	padding: 2px 10px;
}

.song-item:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.song-name {
	float:left;
}
.song-buttons {
	float:right;
}

.tv-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 432px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.preview-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 432px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
/**/
