.catalog-page {
}

.catalog .pages {
    overflow: visible;
}

.catalog-content {
	width:100%;
	overflow: hidden;
}

.catalog-list {
	overflow: hidden;
	width:100%;
	font-size: 32px;
}

.cdg-preview {
	width: 600px;
	height: 100%;
}

.catalog-container {
	width:100%;
}

.catalog-list .selected {
	background-color: rgba(255, 255, 255, 0.3);
}

.song-item {
	padding: 2px 10px;
}
