.catalog-page {
	height: 100%
}

.catalog .pages {
	overflow: visible;
}

.show-no-content {display: none;}
.hide-no-content {display: flex;}

.no-content .show-no-content {display: flex;}
.no-content .hide-no-content {display: none;}

.show-busy {display: none;}
.hide-busy {display: flex;}

.busy .show-busy {display: flex;}
.busy .hide-busy {display: none;}

.show-have-queue {display: none}
.have-queue .show-have-queue {display: block}

#search-catalog {
	font-size: 40px;
	background-color: transparent;
	border: none;
	color: white;
	cursor: auto;
	width: 566px;
	outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}


.show-searching {display: none;}
.hide-searching {display: inline-block;}

.searching .show-searching {display: inline-block;}
.searching .hide-searching {display: none;}

.outer-box {
	width: 100%;
	display: grid;
	grid-template-columns: [menu] 600px [list] auto;
	grid-template-rows: 100vh;
}

.catalog-content {
	grid-column: list;
	grid-row: 1;
}

.menu-container {
	display: grid;
	grid-column: menu;
	grid-row: 1;
	grid-template-columns: 100%;
	grid-template-rows: [menu] auto [preview] 432px;
}

.catalog-list {
	overflow: hidden;
	width:100%;
	height:100vh;
	font-size: 40px;
}

.empty-list {
	grid-column: 1;
	width:100%;
	font-size: 40px;
	grid-column: list;
	grid-row: 1;

}

.menu {
	height: 100%;
	padding: 0px 5px 0px 5px;
	grid-column: 1;
	grid-row: menu;
}

.menu ul {
	list-style: none;
	padding-left: 0px;
}

.menu li {
	font-size: 40px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.3);
	margin-bottom: 5px;
	padding: 2px 10px;
}

.menu .focused {
	background-color: rgba(255, 255, 255, 0.3);
}

.cdg-preview {
	grid-row: preview;
	overflow: hidden;
	min-width: 600px;
	min-height: 432px;
}

.catalog-container {
	width:100%;
}

.focused .catalog-list .selected {
	background-color: rgba(255, 255, 255, 0.3);
}

.song-item {
	padding: 2px 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.catalog-list .filtered {
	display: none;
}

.tv-canvas {
	top: 0;
	left: 0;
	width: 600px;
	height: 432px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	backface-visibility: hidden;
	perspective: 1000;

}

.preview-canvas {
	top: 0;
	left: 0;
	width: 600px;
	height: 432px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	backface-visibility: hidden;
	perspective: 1000;

}

