.catalog-page {
	height: 100%
}

.catalog .pages {
    overflow: visible;
}

.show-no-content {display: none;}
.hide-no-content {display: flex;}

.no-content .show-no-content {display: flex;}
.no-content .hide-no-content {display: none;}

.show-busy {display: none;}
.hide-busy {display: flex;}

.busy .show-busy {display: flex;}
.busy .hide-busy {display: none;}

.outer-box {
	width: 100%;
}

.catalog-content {
	overflow: hidden;
	width: 100%;
}

.catalog-list {
	overflow: hidden;
	width:100%;
	font-size: 40px;
}

.cdg-preview {
	position: relative;
	min-width: 600px;
	height: 100%;
}

.catalog-container {
	width:100%;
}

.catalog-list .selected {
	background-color: rgba(255, 255, 255, 0.3);
}

.song-item {
	padding: 2px 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tv-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 432px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.preview-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 432px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

